@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import "tailwindcss";

*,
html {
  scroll-behavior: smooth !important;
}

:root {
  font-family: 'Roboto', system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: rgba(255, 255, 255, 0.87);
  background-color: #141414;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
}

.glass-bg {
  @apply border-[0.5px] border-[#433f3e9b] bg-[#121010bb] rounded-lg;
}

.title-lg {
  @apply text-5xl font-bold text-[#f2f2f2];
}

.title-md {
  @apply text-4xl font-bold text-[#f2f2f2];
}

.title-sm {
  @apply text-2xl font-bold text-[#f2f2f2];
}

.body-lg {
  @apply text-xl text-[#ededed];
}

.body-bold {
  @apply font-bold;
}

.body-md {
  @apply text-base text-[#ededed];
}

.body-sm {
  @apply text-sm text-[#ededed];
}

@keyframes rotate4 {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash4 {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }
}